---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About Me</title>
	</head>
	<body>
    <nav>
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/blog/">Blog</a>
    </nav>
		<h1>About Megan</h1>
    <h2>... and my new Astro site!</h2>
    <p>We're going through the Astro tutorial! It's going well so far, except I broke my GitHub SSH keys. Oops. We'll fix that later.</p>
	</body>
</html>
