---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro'
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = "My Super Sweet Blog";
---
<BaseLayout pageTitle={pageTitle}>
  <p>Something will go in here. Probably a list of some kind.</p>
  <ul>
    {
      allPosts.map(post => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
