---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
---

<header>
  <span>Megan's Cool Astro Site</span>
  <Hamburger />
  <Navigation />
</header>

<!-- <style>
  header {
    display: flex;
    justify-content: space-between;
  }
</style> -->